RewriteEngine On

# ---------------- Routes globales    ---------------- 
RewriteRule ^login$ login.php
RewriteRule ^index$ index.php


# ---------------- Routes View        ----------------



# ---------------- Routes controllers ----------------



# ---------------- Routes Models      ---------------- 
