RewriteEngine On

# ---------------- Routes globales    ---------------- 
RewriteRule ^connexion$ login.php
RewriteRule ^index$ index.php
RewriteRule ^admin$ admin.php 


# ---------------- Routes View        ----------------



# ---------------- Routes controllers ----------------



# ---------------- Routes Models      ---------------- 
