RewriteEngine On

# ---------------- Routes globales    ---------------- 
RewriteRule ^login$ login.php
RewriteRule ^admin$ admin.php 
RewriteRule ^home$ index.php 

# ---------------- Routes View        ----------------
RewriteRule ^pages-etudiant.html$ view/pages/admin/etudiant/liste.php 
RewriteRule ^pages-note.html$ view/pages/admin/note/liste.php 
RewriteRule ^pages-evaluation.html$ view/pages/admin/evaluation/liste.php 
RewriteRule ^pages-deconnexion.html$ view/pages/admin/deconnexion/liste.php

# ---------------- Routes controllers ----------------
RewriteRule ^EtudiantEtudiant$ controller/etudiant/EtudiantMainEtudiant.php
RewriteRule ^NoteEtudiant$ controller/note/NoteMainEtudiant.php
RewriteRule ^EvaluationEtudiant$ controller/modifier/EvaluationMainEtudiant.php
RewriteRule ^DeconnexionEtudiant$ controller/deconnexion/DeconnexionMainEtudiant.php

# ---------------- Routes Models      ---------------- 
RewriteRule ^EtudiantRepository$ model/EtudiantRepository.php
RewriteRule ^NoteRepository$ model/NoteRepository.php
RewriteRule ^EvaluationRepository$ model/EvaluationRepository.php
